@charset "utf-8";
.table_list{width:100%;border-collapse:collapse;border-top:solid 1px #e0e0e0;font-size:80%;table-layout:fixed}
.table_list caption{display:none}
.table_list .gray{background:#eee}
.table_list th{padding:10px 20px;border-left:none;border-bottom:solid 1px #e0e0e0;background:#f1f1f1;font-weight:600;color:#666}
.table_list td{padding:10px 20px;border-left:solid 1px #e0e0e0;border-bottom:solid 1px #e0e0e0;color:#666}
.table_list td ul li{line-height:180%}
.tab.list ul{position:relative;margin:0;padding:0;list-style:none;*zoom:1}
.tab.list ul:after{display:block;clear:both;content:''}
.tab.list li{float:left;margin-bottom:-1px}
.tab.list li>a:link{float:left;position:relative;font-size:22px;color:#999;text-decoration:none}
.tab.list li>a:visited{float:left;position:relative;font-size:22px;color:#999;text-decoration:none}
.tab.list li>a:active{float:left;position:relative;font-size:22px;color:#999;text-decoration:none}
.tab.list li a span{display:inline-block;padding:6px 18px;letter-spacing:-1px;cursor:pointer}
.tab.list li a span.yt{position:relative;top:2px;margin-left:2px;font-size:14px;color:#999}
.tab.list li a span:first-child{padding-left:0}
.tab.list li ul{position:absolute;top:50px;left:0;width:100%;margin:0;padding:0;border:0;list-style:none;*zoom:1}
.tab.list li ul:after{display:block;clear:both;content:''}
.tab.list li li{float:none;position:relative;margin:0 0 8px;font-size:15px;color:#666}
.tab.list li li:before{content:'· '}
.tab.list li li a{float:none;margin:0;padding:0;border:0!important;background:transparent;font-weight:400;color:#666!important;letter-spacing:normal}
.tab.list li li a:hover,.tab.list li li a:active,.tab.list li li a:focus{color:#000!important;text-decoration:underline}
.tab.list li li time,.tab.list li li .time{position:absolute;top:0;right:0;color:#767676}
.tab.list li li.more{position:absolute;top:-30px;right:0;border:0!important;background:transparent}
.tab.list li.active a{margin-top:-1px;background:transparent;color:#f33}
.tab.list li.active a span{position:relative;top:1px}
.tab.list li.active a span.yt{position:relative;top:2px;font-size:14px;color:#f33}
.tab.list.jx{height:auto}
.tab.list.jx ul{border:0}
.tab.list.jx li{float:none;position:relative}
.tab.list.jx li a{display:block;float:none;border:1px solid #eee!important;border-bottom-color:#ccc!important;background:#fafafa!important;font-weight:500;color:#333}
.tab.list.jx li ul{display:block;position:static;top:0;left:0;padding:5px 0}
.tab.list.jx li li a{display:inline;border:0!important;background:none!important;font-weight:400}
.tab.list.jx li li.more{top:7px;right:15px}
.cd-top{display:inline-block;visibility:hidden;overflow:hidden;position:fixed;right:10px;bottom:40px;z-index:100;width:40px;height:40px;border-radius:10px;background:rgba(255,153,153,0.8) url(../images/common/cd-top-arrow.svg) no-repeat center 50%;text-indent:100%;white-space:nowrap;box-shadow:0 0 10px rgba(0,0,0,0.05);opacity:0;-webkit-transition:opacity .3s 0s,visibility 0 .3s;-moz-transition:opacity .3s 0s,visibility 0 .3s;transition:opacity .3s 0s,visibility 0 .3s}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover{-webkit-transition:opacity .3s 0s,visibility 0 0;-moz-transition:opacity .3s 0s,visibility 0 0;transition:opacity .3s 0s,visibility 0 0}
.cd-top.cd-is-visible{visibility:visible;opacity:1}
.cd-top.cd-fade-out{opacity:.5}
.no-touch .cd-top:hover{background-color:#e86256;opacity:1}
.cd-top:hover{background-color:#e86256;opacity:1}
.bn_login{width:276px;height:34px;border:1px solid #ed3a30;border-radius:2px;border:1px solid #ED3A30;background:#f6534a;font-size:16px;font-weight:bold;color:#fff;text-align:center;text-decoration:none;vertical-align:top;-moz-border-radius:3px;-webkit-border-radius:2px;cursor:pointer}

/*  */
.error{width:700px;margin:0 auto;font-size:14px}
.error ul{float:left;margin:0}
.error ul li{margin:0 0 4px}
.error ul li.li02{width:100%;margin:0 0 0 20px}
.error ul li.li03{width:100%;margin:0 0 0 20px}
.error ul li.li04{width:100%;margin:0 0 0 20px}
.error ul li.li04{width:100%;margin:0 0 0 20px}
.error ul li span.s01{font-size:150px;color:#d64c00}
.error ul li span.s02{position:relative;top:140px;font-size:18px;font-weight:600}
.error ul li a{font-size:14px}
.error p.rb{float:right;margin-top:100px}

@media only screen and (min-width: 768px){
.cd-top{right:20px;bottom:20px}
}
@media only screen and (min-width: 1024px){
.cd-top{right:30px;bottom:30px;width:60px;height:60px}
}